h4, h5 {
  color:  #0079C1;
}

.main-row {
  display: inline-block; 
  padding: 0px 48px 0px 48px;
  border: 1px solid #EEE;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}